@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.examples-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: variables.$border-box;
    margin: 2.5rem 0 4.5rem 0;

    .title-examples-section {
        text-align: center;
        margin-bottom: 0.80rem;
    }

    .title-examples-section + p {
        width: 90%;
        text-align: center;
        line-height: 22px;
        color: variables.$text-second;
        font-size: 0.85rem;
    }

    .example-article {
        width: 90%;
        padding: 15px;
        background-color: variables.$white;
        border-radius: 1.5rem;
        box-sizing: variables.$border-box;
        margin-top: 1.8rem;

        .example-article-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.95rem;

            .filter-text-example {
                width: 90px;
                padding: 4px;
                text-align: center;
                text-transform: uppercase;
                border-radius: variables.$border-radius;
                font-size: 0.6rem;
                font-weight: variables.$font-bold;
            }

            .filter-text-direct {
                background-color: #dbeafe;
                color: variables.$primary;
            }

            .filter-text-diplomatic {
                width: 110px;
                background-color: #f3e8ff;
                color: #9333ea;
            }

            .filter-text-neutral {
                background-color: #dcfce7;
                color: #1ca34a;
            }

            .lucide {
                width: 20px;
                color: #cbd5e1;
                font-weight: variables.$font-bold;
            }
        }

        .title-example {
            font-size: 0.95rem;
            margin-bottom: 2.5rem;
        }

        .span-original {
            color: variables.$text-second;
            font-size: 0.65rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .paragraph-original-example {
            margin: 5px 0px 20px 0px;
            font-size: variables.$main-text;
            color: variables.$text-second;
            font-style: italic;
            line-height: 20px;
        }

        .span-filter {
            font-size: 0.65rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: variables.$primary;
            font-weight: variables.$font-bold;
        }

        .paragraph-filtered-example {
            font-size: variables.$main-text;
            line-height: 18px;
            font-weight: 500;
            margin: 5px 0px 20px 0px;
        }
    }
}