@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.main-container {
    width: 100vw;
    background-color: variables.$background-dark;
    box-sizing: variables.$border-box;
}