$primary: #135bec;
$primary-dark: #0f4bbd;
$second: #f59e0b;
$second-hover: #d97706;
$background-light: #f8f9fc;
$background-dark: #1e293b;
$white: #fff;
$text-main: #0d121b;
$text-second: #4c669a;
$border-radius: 0.5rem;
$border-box: border-box;
$main-title: 2rem;
$second-title: 1.8rem;
$font-bold: bold;